body {
    font-family:"helvetica";
    background-color:#fff;
    margin:0px;
    color:#000000;
    /*color:#008cba;*/
    text-align:center;
    overflow-x: hidden;
}

.fadeInLoad {
    animation: fadeInLoad 3s;
}
@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}